.shopping-input-container {
    width: 100vw;
    height: auto;
    z-index: 20;
}

.shopping-item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
    width: 90vw;
    margin: 1rem auto;
}

.shopping-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    background-color: #f1efef;
}

.item-label {
    margin-right: auto;
    color: #5f5f5f;
    max-width: 40rem;
}

.item-title {
    margin: .5rem 0;
    font-weight: bold;
    font-size: 1rem;
}

.item-info {
    margin: 0;
    font-size: .7rem;
}

.item-options {
    display: flex;
    align-items: center;
}

.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 50%;
    display: block;
}

.relative-container {
    position: relative;

    .counter {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: .2rem;
        color: #5f5f5f;
        font-size: .9rem;

        .flex-counter {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            gap: .3rem;
            margin: .5rem 0;

            :first-child {
                color: #b0b0b0;
                font-size: .7rem;
                font-weight: bold;
            }

            :last-child {
                font-weight: bold;
                font-size: 1rem;
            }
        }
    }

    .fab-button {
        position: absolute;
        top: 20%;
        right: 1rem;
    }
}

.finance-header {
    box-shadow: 2px 2px 2px #ececec;
}



 .balance-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    margin: .5rem 0;
    background-color: #f1efef;

    .item-label {
        margin-right: auto;
        color: #5f5f5f;
        max-width: 40rem;

        .item-title {
            margin: .5rem 0;
            font-weight: bold;
            font-size: 1rem;
        }

        .item-info {
            margin: 0;
            font-size: .7rem;
        }
    }

    .item-options {
        color: #424242;
        font-weight: bold;
        font-size: 1rem;
    }
}

.balance-item {
    margin: 0;
}

.update-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.update-button-container {
    margin-top: 1rem;
}

.relative-container {
    position: relative;

    .counter {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: .2rem;
        color: #5f5f5f;
        font-size: .9rem;

        .flex-counter {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            gap: .3rem;
            margin: .5rem 0;

            :first-child {
                color: #b0b0b0;
                font-size: .7rem;
                font-weight: bold;
            }

            :last-child {
                font-weight: bold;
                font-size: 1rem;
            }
        }
    }

    .fab-button {
        position: absolute;
        top: 20%;
        right: 1rem;
    }
}

.update-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.input-item {
    display: flex;
    align-items: center;
}

.toggle-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    margin: 0.5rem 0;
}

.toggle-item IonLabel {
    margin-right: 1rem;
}
