:root, :root.ios, :root.md {

    box-sizing: border-box;

    --ion-background-color: #fafafa;
    --ion-text-color: #1a1a1a;
    --ion-toolbar-background: #fafafa;
    --ion-toolbar-border-color: transparent;
    --ion-backdrop-color: rgba(17, 17, 17, 0.27);

    --ion-font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Roboto', sans-serif;

    --ion-color-primary: #2dd55b;
    --ion-color-primary-rgb: 45,213,91;
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-contrast-rgb: 0,0,0;
    --ion-color-primary-shade: #28bb50;
    --ion-color-primary-tint: #42d96b;

    --ion-color-secondary: #212738;
    --ion-color-secondary-rgb: 33,39,56;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #1d2231;
    --ion-color-secondary-tint: #373d4c;

    --ion-color-tertiary: #759FBC;
    --ion-color-tertiary-rgb: 117,159,188;
    --ion-color-tertiary-contrast: #000000;
    --ion-color-tertiary-contrast-rgb: 0,0,0;
    --ion-color-tertiary-shade: #678ca5;
    --ion-color-tertiary-tint: #83a9c3;

    --ion-color-success: #2dd55b;
    --ion-color-success-rgb: 45,213,91;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0,0,0;
    --ion-color-success-shade: #28bb50;
    --ion-color-success-tint: #42d96b;

    --ion-color-warning: #ffc409;
    --ion-color-warning-rgb: 255,196,9;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffca22;

    --ion-color-danger: #c5000f;
    --ion-color-danger-rgb: 197,0,15;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #ad000d;
    --ion-color-danger-tint: #cb1a27;

    --ion-color-light: #f6f8fc;
    --ion-color-light-rgb: 246,248,252;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0,0,0;
    --ion-color-light-shade: #d8dade;
    --ion-color-light-tint: #f7f9fc;

    --ion-color-medium: #5f5f5f;
    --ion-color-medium-rgb: 95,95,95;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255,255,255;
    --ion-color-medium-shade: #545454;
    --ion-color-medium-tint: #6f6f6f;

    --ion-color-dark: #2f2f2f;
    --ion-color-dark-rgb: 47,47,47;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255,255,255;
    --ion-color-dark-shade: #292929;
    --ion-color-dark-tint: #444444;


}

.tabbar {
    border-top: 0;
    box-shadow: 0 15px 25px 0 #000000;
    padding: .5rem 0;
}

.toolbar {
    padding: 1rem;
    text-align: center;
}

.toolbar-container {
    padding-top: 2rem;
}

.custom-input, .custom-select {
    font-size: 1.2rem;
    font-weight: bolder;
    text-align: start;
}

.custom-input-item {
    border: 2px solid;
}


.swiper {
    height: 100vh;
    padding: 5rem;
}

.swiper-slide img {
    height:40vh;
    object-fit: contain;
}

.swiper-slide {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1rem;
}


.update-container {

    display: flex;
    flex-direction: column;
    justify-content: center;

    .update-input {
        display: flex;
        justify-content: center;
        background-color: #f3f3f3;
        padding-inline: 1rem;
        border-radius: 1rem;
    }

    .alert-container {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;
        margin-left: .5rem;
    }

    .update-button-container {
        margin-top: 1rem;


        .delete-button {
            text-align: center;
        }
    }
}

.add-button {
    font-size: 1.75rem;
    background-color: #2dd55b;
    border-radius: 100%;
}

.cancel-button {
    text-align: center;
}

.splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
}

.splash-screen.hidden {
    opacity: 0;
    transition: opacity 0.5s ease-out;
    pointer-events: none;
}

