
:root, :root.ios, :root.md {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 36,36,36;

    --ion-toolbar-background: #121212;
    --ion-toolbar-border-color: transparent;

    --ion-font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Roboto', sans-serif;

    --ion-color-primary: #23FF85;
    --ion-color-primary-rgb: 35,255,133;
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-contrast-rgb: 0,0,0;
    --ion-color-primary-shade: #1fe075;
    --ion-color-primary-tint: #39ff91;

    --ion-color-secondary: #7D8491;
    --ion-color-secondary-rgb: 125,132,145;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0,0,0;
    --ion-color-secondary-shade: #6e7480;
    --ion-color-secondary-tint: #8a909c;

    --ion-color-tertiary: #7F055F;
    --ion-color-tertiary-rgb: 127,5,95;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255,255,255;
    --ion-color-tertiary-shade: #700454;
    --ion-color-tertiary-tint: #8c1e6f;

    --ion-color-success: #2dd55b;
    --ion-color-success-rgb: 45,213,91;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0,0,0;
    --ion-color-success-shade: #28bb50;
    --ion-color-success-tint: #42d96b;

    --ion-color-warning: #ffc409;
    --ion-color-warning-rgb: 255,196,9;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffca22;

    --ion-color-danger: #c5000f;
    --ion-color-danger-rgb: 197,0,15;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #ad000d;
    --ion-color-danger-tint: #cb1a27;

    --ion-color-light: #FCFCFC;
    --ion-color-light-rgb: 252,252,252;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0,0,0;
    --ion-color-light-shade: #dedede;
    --ion-color-light-tint: #fcfcfc;

    --ion-color-medium: #3E4240;
    --ion-color-medium-rgb: 62,66,64;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255,255,255;
    --ion-color-medium-shade: #373a38;
    --ion-color-medium-tint: #515553;

    --ion-color-dark: #121212;
    --ion-color-dark-rgb: 18,18,18;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255,255,255;
    --ion-color-dark-shade: #101010;
    --ion-color-dark-tint: #2a2a2a;


    --ion-text-color: #FCFCFC;
    --ion-text-color-rgb: 252,252,252;

    --ion-text-color-step-50: #f1f1f1;
    --ion-text-color-step-100: #e6e6e6;
    --ion-text-color-step-150: #dcdcdc;
    --ion-text-color-step-200: #d1d1d1;
    --ion-text-color-step-250: #c6c6c6;
    --ion-text-color-step-300: #bbbbbb;
    --ion-text-color-step-350: #b0b0b0;
    --ion-text-color-step-400: #a6a6a6;
    --ion-text-color-step-450: #9b9b9b;
    --ion-text-color-step-500: #909090;
    --ion-text-color-step-550: #858585;
    --ion-text-color-step-600: #7a7a7a;
    --ion-text-color-step-650: #707070;
    --ion-text-color-step-700: #656565;
    --ion-text-color-step-750: #5a5a5a;
    --ion-text-color-step-800: #4f4f4f;
    --ion-text-color-step-850: #444444;
    --ion-text-color-step-900: #3a3a3a;
    --ion-text-color-step-950: #2f2f2f;

    --ion-background-color-step-50: #2f2f2f;
    --ion-background-color-step-100: #3a3a3a;
    --ion-background-color-step-150: #444444;
    --ion-background-color-step-200: #4f4f4f;
    --ion-background-color-step-250: #5a5a5a;
    --ion-background-color-step-300: #656565;
    --ion-background-color-step-350: #707070;
    --ion-background-color-step-400: #7a7a7a;
    --ion-background-color-step-450: #858585;
    --ion-background-color-step-500: #909090;
    --ion-background-color-step-550: #9b9b9b;
    --ion-background-color-step-600: #a6a6a6;
    --ion-background-color-step-650: #b0b0b0;
    --ion-background-color-step-700: #bbbbbb;
    --ion-background-color-step-750: #c6c6c6;
    --ion-background-color-step-800: #d1d1d1;
    --ion-background-color-step-850: #dcdcdc;
    --ion-background-color-step-900: #e6e6e6;
    --ion-background-color-step-950: #f1f1f1;
}